form {
    width: fit-content;
    margin: 0 auto;
}

p {
    margin: 0;
}

.names,
.ages,
.genders,
.tels,
.weeks,
.courses,
.comments {
    margin: 15px 0;
}

.name,
.age,
.gender,
.tel,
.week,
.course,
.comment {
    border: none;
    outline: none;
}

.form_button {
    display: block;
    padding: 10px 50px;
    border: none;
    background-color: green;
    color: white;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 6px 0 black;
    opacity: 0.7;
}

.form_button:active {
    box-shadow: none;
    transform: translateY(6px);
}

.form_button:hover {
    opacity: 1;
}